.coverage
.checkstyle-result.xml
.DS_Store
.npm
.test-result.xml
.test-reports
.vscode

coverage
log
node_modules
npm-debug.log
yarn-error.log
_book
locales/**/*-prev.json
static/assets/css/*
static/assets/scripts/*
compiled
.project
.settings

config/local.json
